body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.titulo{
    background-color: #0d1b2a;
    color: white;
    margin-bottom: 20px;
}

.titulo a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.titulo h1{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

/* conteudo */

.corpo{
    display: flex;
    justify-content: center;
}

.cabecalho{
    width: 60%;
}

.capa{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
}

.data{
    color: #c1121f;
}

.conteudo{
    font-size: 22px;
}

@media (max-width: 600px){
    .cabecalho{
        width: 100%;
        padding: 0 20px 20px 20px;
    }
    .conteudo{ 
        font-size: 16px;
    }
}

footer{
    text-align: center;
}