body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    background-color: #0d1b2a;
    color: white;
    margin-bottom: 20px;
    width: 100%;

}

.titulo a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.titulo h1{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

/* conteudo */

.corpo{
    display: flex;
    justify-content: center;
}

.cabecalho{
    width: 60%;
}

.data{
    color: #c1121f;
}

@media (max-width: 600px){
    .cabecalho{
        width: 100%;
        padding: 30px;
    }
}