body{
    margin: 0px;
    padding: 0px;
}

.corpo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.titulo{
    font-size: 50px;
    text-align: center;
    background-color: #0d1b2a;
    color: white;
    height: 70px;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.titulo a{
    text-decoration: none;
    color: white;
}

.caixa-barra-pesquisa{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #415a77;
}

.caixa-barra-pesquisa input{
    border-radius: 3px;
    border: none;
    height: 20px;
    width: 300px;
}

/* card */
.card{
    box-shadow: 0px 0px 3px rgb(0,0,0,0.1);
    width: 60%;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    max-height: 700px;
}

.capa-box{
    padding: 30px;
    box-sizing: border-box;
}

.capa{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}

.card a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.text-box-card{
    padding: 0px 40px 40px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #495057;
    box-sizing: border-box;
}

.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.data{
    color: #c1121f;
}

.corpo hr {
    width: calc(100% - 70px); /* ou 100% se quiser ocupar tudo */
    border: none;
    height: 2px;
    background-color: #0d1b2a;
    margin: 20px 0;
    display: none;
}



@media (max-width: 600px){
    .card{
        width: 100%;
        box-shadow: none;
        max-height: 550px;
    }

    .corpo hr {
        display: block;
    }
}

footer{
    display: flex;
    justify-content: center;
}

@media (min-width: 1000px){
    .capa{
        height: 400px;
    }
    .card{
        width: 45%;
    }
}
