/* 1. Cria o efeito de surgimento */
@keyframes entrarSuave {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

/* 2. Aplica ao body */
body {
    animation: entrarSuave 0.5s ease-in; /* Aparece em 1.5 segundos */
    margin: 0px;
    padding: 0px;
    background-color: #003566;
}


.corpo{
    padding-top: 10px;
    margin-top: 10px;
    top: 40px;
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    min-height: 100vh;
}

.corpo-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-right: 2.5%;
}

.titulo{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 4px 4px 0 #404040; */
    display: flex;
    justify-content: center;
}

.titulo a{
    text-decoration: none;
    color: white;
}

.titulo img{
    width: 70px;
    margin-bottom: -15px;
}

.caixa-barra-pesquisa{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.caixa-barra-pesquisa input{
    border-radius: 6px;
    border: solid 3px #404040;
    width: 300px;
    padding: 17px;
}

.caixa-barra-pesquisa input:focus{
    outline: none;
    box-shadow: none;
}



/* card background*/
.card{
    box-shadow: 0px 0px 6px rgb(0,0,0,0.5);
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    max-width: 800px;
}
.card:nth-child(4n+1):hover {
    background: #faeef0;
}

.card:nth-child(4n+2):hover {
    background: #fdf6f2;
}

.card:nth-child(4n+3):hover {
    background: #f7f6f3;
}

.card:nth-child(4n+4):hover {
    background: #eef3ef;
}


/* card */

.capa-box{
    padding: 30px;
    box-sizing: border-box;
}

.capa{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    height: 450px;
}

.card a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.text-box-card{
    padding: 0px 40px 40px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #495057;
    box-sizing: border-box;
}

.description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.data{
    color: #c1121f;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 40px 0 10px 0;
}

/* todo o conteudo incluindo o menu */

.meio{
    display: flex;
}

.menu img{
    cursor: pointer;
    width: 50px;

}

.menu {
    padding: 30px 20px 0 20px;

}

/* estado fechado */
.menu-content {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.4s ease, opacity 0.3s ease;
    color: white;
}

/* estado aberto */
.menu.open .menu-content {
    max-width: 200px;
    opacity: 1;
}


.menu-content {
  color: white;
}

@media (max-width: 1000px){
    .corpo-wrap{
        padding: 2%;
    }
    .capa{
        height: 250px;
    }

    .card{
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .card:nth-child(4n+1):hover {
        background: none;
    }

    .card:nth-child(4n+2):hover {
        background: none;
    }

    .card:nth-child(4n+3):hover {
        background: none;
    }

    .card:nth-child(4n+4):hover {
        background: none;
    }

    .menu img{
    width: 20px;
    padding-top: 20px;
    }
    .menu {
    padding: 30px 0 0 10px;
    }
}

.email{
    padding: 5px;
    background-color: #414b55;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid #404040;
}

.email:focus{
    outline: none;
    box-shadow: none;
}

.botao{
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: #970a14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}