body{
    padding: 0;
    margin: 0;
    background-color: #003566;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.wrap{
    flex: 1;
}

.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 100vh;
    width: 400px;
    padding: 20px;
}

.box-img{
   flex: 0 0 300px; 
   display: flex;
   align-items: center;
}
.box-img img{
    width: 150px;
}

.email{
    padding: 5px;
    background-color: #414b55;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid #404040;
}

.email:focus{
    outline: none;
    box-shadow: none;
}

.botao{
    padding: 5px;
    font-weight: 700;
    color: white;
    background-color: #970a14;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}